
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Amit kumar</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/amit.png' %}" >
					<hr>
					<h4>Hi I'm Amit Kumar</h4>
					<p>Software Engineer</p>
					
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-90  border-info">
					<h4>Carrer Objective </h4>
					<hr>
					<p>My objective is to find a company that can provide me with the opportunity to learn 
						and develop new skills and increase my abilities, work
						in a collaborative team environment, and make a positive impact in the field.</p>

					

					<ul class="social-links">
						
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<a href="https://www.linkedin.com/in/amit-kumar-76a03723b?">Linkedin</a>
						
						
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience </h5>
					<h6>Full Stack Web Development (Internship)</h6>
					<hr>
					<p>* Built website content and designs using HTML, CSS and
						Javascript.</p>
					<p>* Set up SQL queries and other database management
						responsibilities.</p>
					<p>* Managed and maintained the database, including data retrieval,
						insertion, updating, and deletion. Ensured database security and
						optimization.
						</p>	
					</div>
			</div>

			<div class="col-md-5">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python</p>
					<p>Django</p>
					<p>HTML/CSS</p>
					<p>JavaScript</p>
					<p>JSON</p>
					<p>AWS</p>
					<p>MySQL</p>
					<p>Gits and Github</p>
					
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>PROJECTS</h5>
					<hr>
					<p><h6>E-commerce website using
						Python,Django and MySQL database.</h6></p>

					<p>* A shopping cart where users can add products to their purchas.</p>
					<p>* A checkout system where users can pay for their purchases.</p>
					<p>* User accounts that allow users to create an account and
						keep track of their orders.
						</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p> I’m fresher and  ready to learn something new. I'll collaborating and sharing my 
					 experience with other</p>
				<p>Aside from building small projects I would love to enter a position where I can be part 
					 of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>